# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
venv_mac/

# Build artifacts
build/
dist/
output/
build_mac/
dist_mac/
dmg_content/
*.spec
*.dmg


# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
